
.main {
    background-image: url("hogwartsdininghall.png");
    background-size: cover;
}
.gryffindor {
    background-image: url("gryffindorcommonroom.png");
    background-size: cover;
}
.hufflepuff {
    background-image: url("hufflepuffcommonroom.png");
    background-size: cover;
}
.ravenclaw {
    background-image: url("ravenclawcommonroom.png");
    background-size: cover;
}
.slytherin {
    background-image: url("slytherincommonroom.png");
    background-size: cover;
}
h1 {
    font: italic small-caps bold 77px/100px'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #eee;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
    padding: 100px;
    letter-spacing: 4px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 22px solid black;
    border-style: ridge;
    box-shadow: 5px 5px 3px 4px; 
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    text-align: center;
    color: #21aacf;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #eee;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
#redcolor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #a10909;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
#bluecolor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #0e23c2;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
#yellowcolor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #e0e71a;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
#greencolor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: center;
    color: #30761b;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
#cyancolor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
    text-align: center;
    color: #21aacf;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
}
.parent-container {
  text-align: center;
}
.question1, .question2, .question3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
    letter-spacing: 4px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
form {
    border: 9px solid black;
    border-radius: 15px;
    box-shadow: -5px -2px 3px rgb(153, 2, 2), 7px 7px 4px rgb(153, 2, 2); 
}
.submit {
    background-color: black;
    color: white;
    width: 150px; 
    height: 50px;
    font-size: 18px;
}
#subbtn {
    text-align: center;
    padding: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gry {
    border: 22px solid rgb(46, 5, 5);
    border-style: ridge;
    box-shadow: 5px 5px 3px 4px; 
}
.huf {
    border: 22px solid rgb(230, 196, 24);
    border-style: ridge;
    box-shadow: 5px 5px 3px 4px; 
}
.rav {
    border: 22px solid rgb(10, 5, 159);
    border-style: ridge;
    box-shadow: 5px 5px 3px 4px;
}
.sly {
    border: 22px solid rgb(7, 117, 52);
    border-style: ridge;
    box-shadow: 5px 5px 3px 4px;
}
.thick {
    height: 15px;
    background-color: black;
    margin: 50px 50px;
}
footer {
    color: white;
    text-align: center;
}
button:hover {
    color: yellow;
}
.question1:hover, .question2:hover, .question3:hover {
    color: yellow;
}
.audioback {
    background-color: black;
    color: white;
    width: 250px; 
    height: 150px;
    font-size: 18px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.audioback2 {
    background-color: black;
    color: white;
    width: 250px; 
    height: 50px;
    font-size: 18px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.red:hover {
    color: rgb(158, 16, 16);
}
.yellow:hover {
    color: yellow;
}
.blue:hover {
    color: rgb(67, 85, 187);
}
.green:hover {
    color: greenyellow;
}
a:link {
  color: black;
}
a:visited {
    color: black;
}
.copy {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
}
.history {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #eee;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #fff, 
        1px -1px 0 #000,   
        -1px 1px 0 #fff;
    letter-spacing: 2px;
}
.retake {
    background-color: rgb(189, 40, 40);
    color: white;
    width: 250px; 
    height: 50px;
    font-size: 18px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
